.fulline {
    flex-basis: 100%;
    text-align: center;
    padding-right: 4vw;
}
.marg {
    margin: 5%;
}
.share {
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}
.half {
    box-sizing: border-box;
    flex-basis: 80%;
    max-width: 80%;
    margin: 0;
    min-height: auto;
    
    @media (min-width: 1200px){
        box-sizing: border-box;
        flex-basis: 30%;
        max-width: 50%;
        padding-bottom: 4vh;
        flex-grow: 1;
        min-height: 30em;
    }
    p {
        padding: 0;
    }
}
div.half { 
    padding: 2vw;
    @media (min-width: 1200px) {
    padding-top: 7em;
    }
}
.share img {
    object-fit: cover;
    padding: 2vw;
    margin-bottom: 1em;
    order: 1;
    @media (min-width: 1200px){
        order: 0;
        }
}
h2 {
    font-size: 2.3em;
    margin-bottom: 0;
    @media (min-width: 1000px){
        font-size: 2.5vw;
    }
}
h3 {
    font-size: 2em;
    margin-top: 0;
}
