.article-with-overlap {
    display: grid;
    padding: 10% 5%;
    grid-gap: 2em;
    grid-template-areas: 
    "f g overlap-text h i"
    "f k overlap-text l i"
    "j k overlap-text l m";
    grid-template-columns: 1fr 1fr 30% 1fr 1fr;
    /* grid-template-rows: repeat(3, minmax(10em, 1fr)); */
    
} 
.overlap-article-img1 {
    grid-area: f;
}
.overlap-article-img2 {
    grid-area: g;
}
.overlap-article-img3 {
    grid-area: h;
}
.overlap-article-img4 {
    grid-area: i;
}
.overlap-text {
    grid-area: overlap-text;
    align-self: center;
    z-index: 1;
    background: white;
    padding: 3em 6em;
    margin: 3em -6em;
}
.overlap-article-img5 {
    grid-area: j;
}
.overlap-article-img6 {
    grid-area: k;
}
.overlap-article-img7 {
    grid-area: l;
}
.overlap-article-img8 {
    grid-area: m;
}
.overlap-text h4,
.overlap-text p {
    box-sizing: border-box;
    text-align: start;
    padding: 0;
}