.fulline2 {
    flex-basis: 100%;
    text-align: center;
    color: $color--text-1;
    padding-bottom: 1em;
}
.flow {
    display:flex;
    flex-wrap: wrap;
    padding: 5% 0;
    justify-content: center;
    background-color: $color--sitebackground-and-nav;
    @media (min-width: 1000px){
        padding: 5% 10% 5% 10%;

        }
    img {
        width: 99px;
        height: 101px;
        @media (min-width: 800px) {
            width: 130px;
            height: 130px;
        }
        @media (min-width: 1000px) {
            width: 165px;
            height: 165px;
        }
        @media (min-width: 1500px){
            width: 200px;
            height: 200px;
        }
        }
}
.picflow {
    margin: 10px;
    @media (min-width: 1000px){
        .picflow {
            margin: 1vw;
        }
}
}
