.fulline2 {
    flex-basis: 100%;
    text-align: center;
}
.flow {
    display:flex;
    flex-wrap: wrap;
    padding: 5% 10% 5% 10%;
    justify-content: center;
    background-color:white;

}
.picflow {
    margin: 1vw;
}
.flow img {
    width: 165px;
    height: 165px;
}
@media (max-width: 1000px){
.picflow {
    flex-basis: 30%;
    margin: 15px;
}
}