.flow-pictures {
    display:flex;
    flex-wrap: wrap;
    padding: 5% 0;
    justify-content: center;
    background-color: $color--sitebackground-and-nav;
    &__fulline2 {
        flex-basis: 100%;
        text-align: center;
        color: $color--text-1;
        padding-bottom: 1em;
    }
    @media (min-width: 1000px){
        padding: 5% 10% 5% 10%;

        }
    &__picflow--picsize {
        width: 99px;
        height: 101px;
        transition: all 200ms ease-in;
        @media (min-width: 800px) {
            width: 130px;
            height: 130px;
        }
        @media (min-width: 1000px) {
            width: 165px;
            height: 165px;
        }
        @media (min-width: 1500px){
            width: 200px;
            height: 200px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__picflow {
        margin: 10px;
        @media (min-width: 1000px){
            .picflow {
                margin: 1vw;
            }
    }
    }
   

}

