footer {
    display: flex;
    width: 100%;
}
.navbarfoot {
    display:flex;
    background-color: rgb(212, 209, 209);
    min-width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
    min-height: 200px;
    @media (min-width: 700px){
        min-height: 248px;
    }
}
.navbarfoot ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    margin-bottom: 3vh;
    padding: 0;
    @media (min-width: 400px){
        padding: 1em;
    }
    @media (min-width: 500px){
        padding: 2em;
        justify-content: center;
    }
    
}
.navbarfoot li {
    padding-right: 2vw;
    font-size: 1em;
}
.footlogo {
    flex-basis: 100%;
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;

}
@media (max-width: 1000px){
    .navbarfoot li {
        padding: 0.5em;
        font-size: 1em;
    }
}