.mainpic {
    box-sizing: border-box;
    background-image: url(../pics/philipp-kammerer-6-mxb-m-z-q-8-e-unsplash@3x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 800px) {
        min-height: 780px;
     }
    
}
.center {
    width: 80%;
    align-self: center;
    text-align: center;
    font-weight: bold;
    
    @media (min-width: 800px) {
        width: 60%;
     }
    @media (min-width: 1100px) {
       width: 40%;
    }
}
h1 {
    font-size: 1.5em;
    margin: 0;
    @media (min-width: 420px) {
        font-size: 2em;
     }
    @media (min-width: 600px) {
        font-size: 2.3em;
     }
    @media (min-width: 800px) {
        font-size: 2.7em;
     }
}
