.navbarhead {
    display: flex;
    margin-left: 0;
    top: 0;
    background-color: $color--sitebackground-and-nav;
    margin: 0;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
    
    @media (min-width: 700px) {
        flex-direction: row;
    }
} 
.navbartop {
    display:flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    padding-right: 1.7em;
    @media (min-width: 500px){
        justify-content: center;
    }
    @media (min-width: 700px) {
        justify-content: flex-end;   
        padding-right: 1.5em;
    }
    &__item {
    padding-right: 4vw;
    @media (min-width: 500px){
        margin: 0 1.4em 0 1.4em;
    }
    @media (min-width: 700px) {
        margin: 0;
    }
    &--no-link {
        text-decoration: none;
        color: #eaddd9;
    }
}
}
.logo{
    padding: 0.5vh 4vw;
    font-family: 'Unica One', cursive;
    border: none;
    background-color: $color--sitebackground-and-nav;
    @include text-styling ($color--text-1, normal, 26px);
}

