body{
    margin: 0;
    font-family:'Poppins', sans-serif;
    font-size: 1vw;
    max-width: 100%;
    background-color: rgb(233, 233, 233);
}
.navbarhead {
    display: flex;
    margin-left: 0;
    top: 0;
    background-color: rgb(233, 233, 233);
    margin: 0;
    font-weight: bold;
    align-items: center;
}
.navbarhead ul {
    display:flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5em;
}
.navbarhead li {
    padding-right: 4vw;;
}
.logo{
    padding: 0.5em;
    font-weight: bold;
    padding-left: 3vw;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    width: 100%;
}
.mainpic {
    box-sizing: border-box;
    background-image: url("https://via.placeholder.com/150");
    width: 100%;
    height: 50vmax;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    max-width: 33.33%;
    min-width: 33.33%;
    align-self: center;
    text-align: center;
    font-weight: bold;
}
h1 {
    font-size: 3vw;
    margin: 0;
}
.fulline {
    flex-basis: 100%;
    text-align: center;
    padding-right: 4vw;
}
.fulline2 {
    flex-basis: 100%;
    text-align: center;
}
h2{
    box-sizing: border-box;
    font-weight: bold;
    font-size: 3vw;
}
.marg {
    margin: 5%;
}
.share {
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}
.half {
    box-sizing: border-box;
    flex-basis: 30%;
    max-width: 50%;
    padding-bottom: 4vh;
    flex-grow: 1;
}
div.half { 
    padding: 2vw;
}
h3 {
    font-size: 2.5vw;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}
p {
    text-align: center;
    padding: 0 4vw;
}
.flow {
    display:flex;
    flex-wrap: wrap;
    padding: 5% 10% 10% 10%;
    justify-content: center;
    background-color:white;

}
.picflow {
    margin: 1vw;
}
footer {
    display: flex;
    width: 100%;
}
.navbarfoot {
    display:flex;
    background-color: rgb(212, 209, 209);
    min-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
    min-height: 248px ;
}
.navbarfoot ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 3vh;
}
.navbarfoot li {
    padding-right: 2vw;;
}
.footlogo {
    flex-basis: 100%;
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
}
button {
    padding: 0.5vh 3vw;
    font-weight: bold;
    font-family: inherit;
    font-size: 1vw;
    border: none;
    background-color: rgb(199, 198, 198);
}
.share img {
    object-fit: cover;
    padding: 2vw;
}
.flow img {
    width: 200px;
    height: 200px;
}
.response {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1000px){
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .half {
        box-sizing: border-box;
        flex-basis: 70%;
        max-width: 70%;
        margin: 5%;
    }
    .picflow {
        flex-basis: 30%;
        margin: 15px;
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 4vw;
    }
    h3 {
        font-size: 3vw;
    }
    p {
        font-size: 2vw;
    }
    .navbarhead li {
        padding: 0.5em;
        font-size: 2vw;
        
    }
    .navbarfoot li {
        padding: 0.5em;
        font-size: 2vw;
    }
    img {
        order: 1;
    }
    .share img {
        width: auto;
        height: auto;
    }
    .flow img {
        width: auto;
        height: auto;
    }
    button {
        font-size: 2vw;
    }

}
@media (min-width: 1000px) {
    .mainpic {
        min-height: 80vh;
    }
}